.App {
  text-align: center;
  margin: 30px auto;
  max-width: 600px;
  font-family: 'Inconsolata', monospace;
}

.App footer{
  font-size:12px;
  margin-top: 10px;
}

.App .headquote {
    font-size:18px;
    max-width: 500px;
    margin: 25px auto;
    margin-top:40px;
}