:root{
    --primary-color: rgb(151, 154, 131);
    --secondary-color: #98945a;
    --light-color: rgb(235, 222, 175);
    --primary-font-family: 'Inconsolata', monospace;
}   

.Weather {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
    font-family: var(--primary-font-family),"Google Sans", arial, sans-serif;
    padding: 20px;
    background-color:#FEFAF7;
}

.Weather .background {
    margin-left:129px;
    margin-top: 24px;
}

.Weather .city{
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 400;
    margin-top: 15px;
    height: auto;
    letter-spacing: normal;
    line-height: 56px;
    text-align:left;
}

.Weather .date ul{
    margin: 20px 0;
}

.Weather .description, .today {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 20px;
}

.Weather .search-input {
    background-color: rgb(251, 251, 223);
    color: var(--secondary-color);
    border: 1px solid var(--light-color);
    border-radius: 4px;
    position: relative;
    width: 100%;
    padding: 6px 15px;
    opacity: 0.7;
}

.Weather .search-submit{
    border: 1px solid var(--light-color);
    border-radius: 4px;
    width: 100%;
    background-color: #D6C8A1;
    color: #FEFAF7;
    margin-left:-30px;
}

.Weather .search-submit:hover{
    color: var(--primary-color);
    border: 1px solid var(--light-color);
    background-color: #FEFAF7;
}

.Weather split {
    border-bottom: solid 1px var(--secondary-color);
    margin: 0 4px;
}

.Weather ul{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    text-align: start;
}

.Weather .unit{
    color: var(--primary-color);
    font-size: 16px;
    line-height: 23px;
    margin-left:10px;
    position: relative;
    top:-20px;
}

.Weather .unit a {
    text-decoration:none;
    color: #d4d4a8;
}

.Weather .unit a:hover {
    color: #adad82;
    font-size:18px;
    transition: all 100ms ease-in-out;
}

.Weather .fahrenheit{
    position: relative;
    right: -5px;
    top: -25px;
}

.Weather .temperature {
    margin-left:10px;
    color: var(--primary-color);
    display: inline;
    font-size: 48px;
    font-weight: 400;
    height: auto;
    letter-spacing: normal;
    line-height: 44px;
}

@media(max-width:400px){
    .Weather {
        max-width:360px;
        margin: auto
    }

    .Weather .city{
        font-size:35px;
        margin-left:47px;
    }

    .Weather ul.date{
        margin-top:-10px!important;
        line-height: 24px;
        margin-left: 15px!important;

    }

    .Weather canvas{
        margin-left:53px;
        margin-top:6px;
        max-width:45px;
    }

   .Weather .temperature{
        text-align:end;
        margin-right:10px;
        margin-left:50px;
        font-size:35px;
    }

    
.Weather .search-input {
    position: relative;
    width: 100%;
    padding: 3px 2px;
    font-size: 16px;
    max-width:150px;
    margin-right:-33px;
}

.Weather .search-submit{
    font-size: 16px;
    text-align:center;
    border-radius: 4px;
    padding: 3px 2px;
    margin-left:1px;
    margin-top:5px;
    max-width:150px;
    margin-right:-33px;
}

.Weather .unit{
    color: var(--primary-color);
    font-size: 13px;
    line-height: 0px;
    position: relative;
    top:-14px;
}

.Weather .fahrenheit{
    position:relative;
    left:0;
}

.Weather .weather-data ul{
    margin-top:-10px;
    line-height: 19px;
    margin-left: -14px;
}

}